*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #212529;
}
body{
    color: #6C6D70;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

main{
    padding-top: 80px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-spacing: 0;
}

table, td{
    border: 1px solid #dee2e6;
}

table td{
    padding: 0.75rem;
    vertical-align: middle;
}

.container-thongtin{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
}

.dieuhuong-danhsach {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f7f8f9;
}

.dieuhuong-noidung {
    display: list-item;
}
  
.dieuhuong-noidung + .dieuhuong-noidung:before {
    content: "－\00a0";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 10px;
    margin-right: 16px;
    margin-left: 8px;
    color: #6c6d70;
}

.dieuhuong-noidung a {
    color: gray;
}
  
.dieuhuong-noidung a:hover {
    color: black;
}

.taikhoan-wrapper{
    margin-top: 28px;
    margin-bottom: 64px;
}

.taikhoan-wrapper-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.taikhoan-caidat{
    flex: 0 0 30%;
    max-width: 30%;
}

.taikhoan-caidat-menu {
    max-width: 250px;
    width: 100%;
    padding: 32px;
}

.duong-vien {
    border: 1px solid #e7e8e9;
    border-radius: 32px 0px;
}
.taikhoan-caidat-menu-user {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.taikhoan-caidat-menu-user-avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

.taikhoan-caidat-menu-user-name{
    padding-left: 20px;
}

.taikhoan-caidat-menu-user-name p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.taikhoan-caidat-menu-luachon li {
    margin-top: 32px
}

.taikhoan-caidat-menu-luachon li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #808285;
}

.taikhoan-caidat-menu-luachon li.active a {
    color: #221f20;
}
.taikhoan-caidat-menu-luachon li a span {
    flex: 0 0 13px;
    max-width: 13px;
    margin-right: 12px;
    color: #808285;
}
.taikhoan-caidat-menu-quanli-top {
    margin-bottom: 20%;
    width: 100%;
    display: inline;

}
.taikhoan-caidat-menu-quanli-top p {
    width: 50%;
    font-size: 16px;
    font-weight: bold;
    color: black;
    float: left;
}
.taikhoan-caidat-menu-quanli-top li {
    width: 50%;
    font-size: 12px;
    color: black;
    float: right;
}
.taikhoan-caidat-menu-quanli-noidung {
    max-width: 800px;
    margin-top: 10%;
    width: 100%;
}
.taikhoan-caidat-menu-quanli-noidung table {
    width: 100%;
    border:1px solid black;
}
.taikhoan-caidat-menu-quanli-noidung table th {
    border:1px solid black;
    background-color: rgb(220, 242, 250);
    font-size: 12px;
    
}
.taikhoan-caidat-menu-quanli-noidung table td {
    border:1px solid black;
    font-size: 12px;
}